.reviewSection {
  display: inline-flex;
  align-items: center;
}

.headline,
.comment,
.feedback {
  font-size: 16px;
  margin: 16px 0 0;
}

.article {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 56px;
}

.publishedAt,
.author {
  font-size: 14px;
  line-height: 18px;
}

.headline,
.author {
  font-weight: bold;
}

.author {
  margin: 14px 0 0;
}

.publishedAt {
  margin: 4px 0 0;
  color: var(--tertiary-color);
}