.main {
    margin-bottom: 20px;
    padding: 40px 30px;
}

.main,
.footer{
    border-radius: 6px 6px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(23, 55, 83, 0.1);
    max-width: 962px;
}

.footer {
    padding: 20px;
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: center;
}

@media (min-width: 962px) {
    .footer,
    .main {
        min-width: 962px;
    }
}

.footer,
.main,
.header {
    box-sizing: border-box;
    align-self: center;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.reviews {
    margin-top: 40px;
}