.main {
  margin-bottom: 10px;
  padding: 40px 30px;
  min-height: 400px;
  display: inline-flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.main,
.footer {
  border-radius: 6px 6px 0 0;
  background-color: var(--secondary-background);
  box-shadow: 0 2px 4px 0 rgb(23 55 83 / 10%);
}

.footer {
  padding: 20px;
  margin-bottom: 55px;
  display: inline-flex;
  justify-content: center;
}

.footer,
.main,
.header {
  box-sizing: border-box;
  align-self: center;
  min-width: 100%;
}

.header {
  height: 172px;
  color: white;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 1144.66px) {
  .header,
  .footer,
  .main {
    max-width: 962px;
    min-width: 962px;
  }
}

@media (max-width: 1144.66px) {
  .header {
    overflow: hidden;
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  margin-bottom: 40px;
}
